@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;700&display=swap");

:root {
  --primary: rgb(72, 246, 130);
  --yamahaBlue: #0a2d81;
  --navbarSize: calc(50px + 1.9rem);
}

::selection {
  background-color: var(--primary);
  color: black;
}

body {
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Radio Canada", Arial, Helvetica, sans-serif;
  font-size: 1.12rem;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.yamaha-blue {
  color: var(--yamahaBlue);
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 25px 15px;
  background-color: white;
  color: black;
  gap: 60px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  height: 50px;
}

.header a {
  font-size: 16px;
  text-decoration: none;
}

.header a:hover {
  color: var(--primary);
}

.front-image-container {
  position: absolute;
  width: 100%;
  /* height: calc(100vh - 50px); */
  height: calc(100vh - var(--navbarSize));
  background-color: rgb(0, 0, 0);
}

.container {
  display: flex;
  height: 100%;
  margin: 0px 20px 0px;
  justify-content: center;
  padding-bottom: 20px;
}

.buy-banner {
  pointer-events: none;
  position: relative;
  z-index: 1;
  width: 22%;
  /* height: 91vh; */
  /* height: calc(100vh - 50px); */
  height: calc(100vh - var(--navbarSize));
  background-color: rgba(0, 0, 0, 0.602);
  margin-left: auto;
  left: 80%;
}

.banner-body {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  letter-spacing: 1.1px;
}

.banner-button {
  width: 60%;
  align-self: center;
  padding: 10px;
  text-align: center;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.specs-button {
  width: max-content;
  font-weight: bold;
  background-color: var(--primary);
  padding: 0.7em;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.specs-button:hover {
  background-color: #35cd68;
}

.banner-button:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary);
  color: black;
  transition: background-color 0.3s ease;
}

.slide-in {
  pointer-events: all;
  animation: slide-in 1.5s forwards;
}

.introduction {
  padding: 60px 10px 60px;
  width: 60%;
}

.sliding-up {
  position: relative;
  top: 10%;
  transition: all 1s ease-out;
}

.sliding-up-long {
  position: relative;
  top: 10%;
  transition: all 0.3s ease-out;
}

.slide-up {
  top: 0 !important;
}

.slide-up-long {
  top: -20% !important;
}

#title {
  z-index: 1;
}

#title::after {
  content: "";
  position: relative;
  left: -10%;
  z-index: -1;
  color: rgb(232 45 72);
  /* color: var(--primary); */
  opacity: 0;
  height: 10px;
  width: 100px;
  animation: appear-right 0.3s forwards;
  animation-delay: 1.4s;
}

iframe {
  transition: all 0.3s ease;
}

.next-img-button {
  font-size: 30px;
  height: max-content;
  background-color: #000000cc;
  align-self: center;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.next-img-button:hover {
  background-color: var(--primary);
  transition: all 0.3s ease;
}

#action_image {
  transition: all 1s ease;
}

.hp-text::after {
  content: "@13500 rpm";
  position: relative;
  top: -25%;
  left: 15%;
  font-size: 30px;
  color: #3a3a3a;
}

.introduction h1 {
  font-size: 4.5rem;
  top: -10%;
  transition: all 0.5s ease-out;
  width: 100%;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.inner-container .item {
  flex: 1;
  min-width: 330px;
}

.stats-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  padding: 20px;
  margin: 20px 0 20px;
}

.centered-h1 {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  font-weight: bold;
  margin: 40px 0 20px;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1.2em;
  align-items: center;
}

.photo-container {
  display: flex;
  align-items: center;
  padding: 0 40px 0;
  margin-bottom: 40px;
}

.photo-container div {
  position: relative;
  flex: 1;
}

.textbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -25%;
  background-color: white;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.textbox span {
  text-align: center;
  color: #ffd000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}

.card {
  background-color: #918f8f;
  height: 600px;
  width: 300px;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.15);
}

.card-title {
  background-color: #18181898;
  color: white;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.footer {
  margin: 100px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  background-color: gold;
  font-weight: bold;
  padding: 9px;
  font-size: 1rem;
}

.grid {
  background-color: black;
  width: 85%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  margin-top: 100px;
}

.stat-card {
  border: 1px solid black;
  position: relative;
  padding: 20px 40px 20px;
  z-index: 0;
  height: 400px;
  transition: background-color 350ms ease, transform 350ms ease,
    color 350ms ease;
}

.stat-card-body {
  text-align: center;
  margin-top: auto;
  position: absolute;
  padding: 10px 40px 10px;
  font-size: 1rem;
  inset: 0;
  background-color: white;
  height: max-content;
  color: black;
  z-index: 11;
  opacity: 0;
  font-weight: 500;
  transition: opacity 150ms ease-in-out, background-color 350ms ease;
  /* transition-delay: 350ms; */
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.stat-card-image {
  z-index: -5;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stat-card:hover {
  transition: z-index 350ms forwards;
  z-index: 10;
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.12);
}

.stat-card:hover .stat-card-body {
  opacity: 1;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  text-align: center;
  margin: 30px 0 30px;
}

.stats-container h4 {
  width: 100%;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

.stats-box {
  min-width: 450px;
  flex: 1;
}

.stats-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px;
  gap: 15px;
}

.stats-line {
  flex: 1;
  display: flex;
  justify-content: center;
}

.left-text {
  text-align: right;
  font-weight: bold;
  flex: 0.7;
}

.right-text {
  margin-left: 60px;
  text-align: left;
  flex: 1;
}

.buy-card {
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buy-card-image {
  padding: 10px;
}

.buy-card-body {
  padding: 20px 40px 20px;
}

.buy-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
}

.buy-colors {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-circle {
  height: 16px;
  width: 16px;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--yamahaBlue);
  border: 0.5px solid black;
  transition: transform 150ms ease;
}

.color-circle:hover {
  transform: scale(1.4);
}

.circle-black {
  background-color: black;
}

.circle-carbon {
  background: rgb(69, 69, 69);
  background: linear-gradient(
    360deg,
    rgba(69, 69, 69, 1) 0%,
    rgba(20, 1, 1, 1) 100%
  );
}

.circle-redwhite {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 42%,
    rgba(255, 255, 255, 1) 49%
  );
}

.mod2 {
  background-color: white;
  border: 3px solid var(--yamahaBlue);
  color: var(--yamahaBlue);
  transition: background-color 200ms ease-in-out;
}

.mod2:hover {
  background-color: var(--yamahaBlue);
  color: white;
}

.transmision-bubble {
  background-color: #ffd000;
  padding: 0.2rem 0.8rem 0.2rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  width: max-content;
  user-select: none;
}

.buy-card-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 7px;
  font-size: 0.9rem;
}

ul b::after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  background-color: var(--yamahaBlue);
  width: 35px;
  height: 5px;
}

.asd b::after {
  background-color: black;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes appear-right {
  100% {
    left: 0;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}

@media (max-width: 1300px) {
  .buy-banner {
    width: 35%;
    transition: width 0.3s ease;
  }
  /* .led-img {
    width: 100% !important;
  } */
  .led-p {
    top: 5%;
  }
}

@media (max-width: 1100px) {
  iframe {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .stat-card {
    grid-column: span 2;
  }

  .stat-card:last-child {
    grid-column: span 4;
  }
}

@media (max-width: 950px) {
  .buy-banner {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  iframe {
    width: 50%;
    height: 50%;
  }

  .stat-card {
    grid-column: span 4;
    transition: none;
  }

  .stat-card-body {
    opacity: 1;
  }

  .stat-card:hover {
    transform: scale(1);
  }
}
